<h1>Welcome to Rails Land <%= @user.name %></h1> 
<p id="notice"><%= notice %></p>

<% if flash[:message] %>
  <div class="center alert">
    <p><%= flash[:message] %></p>
  </div>
<% end %>

<div class="user">
    <h3>Profile Information</h3>

    <p><% if @user.admin%>
        <h2>ADMIN</h2>
    <% end %></p>

    <p><strong>Tickets:</strong> <%= @user.tickets %></p>
    <p><strong>Mood:</strong> <%= @user.mood %></p>
    <p><strong>Height:</strong> <%= @user.height %></p>

    <a href="<%= attractions_path %>">See attractions</a><br><br>
    <%= link_to "Log Out", "/logout" %>
</div>

